body {
  width: 1280px;
  height: 1282px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  box-sizing: border-box;
}

.head-logo-box {
  padding-top: 48px;
  padding-bottom: 40px;
}

.head-logo {
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  color: #4bcaff;
  text-decoration: none;
}

.first-letter {
  display: inline;
  color: #000000;
}

.head-menu {
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head-box {
  display: flex;
  height: 69px;
  background-color: #35444f;
  align-items: center;
  justify-content: center;
}

.head-box-hover:hover {
  background-color: #222f3a;
}

.empty-box-left {
  width: 160px;
}

.box-1 {
  width: 330px;
}

.box-2 {
  width: 150px;
}

.box-3 {
  width: 283px;
}

.box-4 {
  width: 220px;
}

.empty-box-right {
  width: 132px;
}

.head-menu-item {
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  padding-top: 3px;
}

.main-top-box {
  display: flex;
  justify-content: space-between;
  padding-top: 49px;
}

.left-menu-box {
  display: flex;
  flex-direction: column;
  width: 344px;
  height: 399px;
  border: 1px solid #000000;
}

.left-menu-underbox {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  padding-left: 44px;
  color: #495863;
}

.left-menu-underbox:hover {
  background-color: #dbdbdb;
  padding-left: 78px;
  color: #000000;
}

.left-menu-item {
  font-size: 27px;
  line-height: 27px;
}

.img-box {
  display: flex;
  width: 885px;
  height: 529px;
  border: 1px solid #000000;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.main-image {
  width: 320px;
  height: 381px;
  transition: transform 0.25s;
}

.img-box:hover .main-image {
  transform: scale(1.2);
}

.main-bottom-box {
  display: flex;
  justify-content: end;
  padding-top: 37px;
  padding-bottom: 54px;
}

.main-text-box {
  display: flex;
  flex-direction: column;
  height: 263px;
  justify-content: space-between;
}

.text-box {
  width: 885px;
  height: 120px;
}

.text {
  font-size: 18px;
  line-height: 24px;
}

.footer-box {
  display: flex;
  height: 69px;
  background-color: #63696e7a;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.footer-item {
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
}

.footer-box-items {
  display: flex;
  width: 875px;
  align-items: baseline;
  justify-content: space-between;
}

.footer-item:hover {
  color: #3181a6;
  padding-top: 14px;
  padding-bottom: 13px;
  border-bottom: 1px solid #3181a6;
}

.copyright {
  font-size: 24px;
  line-height: 24px;
}
